@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Spectral:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");

:root {
  --font-1: "Cormorant Garamond", serif;
  --font-2: "Poiret One", sans-serif;
  --text-section: "Spectral", serif;
  --small-text: "DM Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", sans-serif;
}

.divide {
  display: flex;
  flex-direction: column;
  flex: 0 0 50%;
  max-width: 50%;
}

.fs-45 {
  font-size: 42px;
}

.bg-grey-dark {
  background-color: #ded5d8;
}

.bg-grey {
  background-color: #f0edee;
}

.bg-grey-light {
  background-color: #f9f6f5;
}

.lh-39 {
  line-height: 36px;
}

.pd-4 {
  padding-top: 40px;
}

.pd-60 {
  padding-top: 60px;
}

.ff-82 {
  font-size: 82px;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.highlight {
  font-family: var(--font-1);
  font-weight: 300;
}

.line {
  position: absolute;
  width: 1px;
  height: 15px;
  background: white;
}

.navbar {
  .container {
    .navbar-brand {
      font-size: 25px;
    }
    .navbar-collapse {
      width: 100%;
      .nav-link {
        font-size: 10px;
        font-family: var(--small-text);
        text-transform: uppercase;
        letter-spacing: 1px;
      }
    }
  }
}

.carousel {
  .carousel-inner {
    .carousel-item {
      position: relative;
      width: 100vw;
      height: 120vh;
      img {
        position: absolute;
        top: -20%;
        left: 0%;
      }
      .overlay-home {
        position: absolute;
        width: 100%;
        height: 100%;
      }
      .carousel-caption {
        position: absolute;
        right: 15%;
        top: 50%;
        left: 15%;
        padding-top: 1.25rem;
        padding-bottom: 1.25rem;
        color: #fff;
        text-align: center;
        .text-atas {
          text-align: center;
          .upfont {
            margin: 5px;
            font-size: 12px;
            font-family: var(--font-2);
            letter-spacing: 2px;
            font-weight: 800;
            text-shadow: 1px 2px rgba(178, 178, 178, 0.5);
          }
        }
        .text-bawah {
          width: 100%;
          position: absolute;
          flex-wrap: wrap;
          justify-content: center;
          top: 85%;
          bottom: 15%;
          left: 0;
          .t-kiri {
            flex: 0 0 22.22%;
            max-width: 22.22%;
            p {
              text-transform: uppercase;
              font-family: var(--font-1);
              font-size: 10px;
              margin: 0;
              letter-spacing: 3px;
            }
          }
          .t-kanan {
            flex: 0 0 22.22%;
            max-width: 22.22%;
            p {
              text-transform: uppercase;
              font-family: var(--font-1);
              font-size: 10px;
              margin: 0;
              letter-spacing: 3px;
            }
          }
        }
      }
    }
  }
}

.about {
  margin-top: 7em;
  margin-bottom: 7em;
  .about-content {
    display: flex;
    flex-wrap: wrap;
    .about-content-1 {
      display: flex;
      flex: 0 0 50%;
      max-width: 50%;
      // flex-direction: column;
      justify-content: center;
      padding: 30px 90px;
      .title {
        font-family: var(--font-1);
        margin-bottom: 1.3em;
        font-weight: 500;
      }
      .caption {
        color: hsl(240, 1%, 38%);
        font-family: var(--text-section);
        font-size: 16px;
        margin-bottom: 30px;
      }
    }
    .about-content-2 {
      flex: 0 0 50%;
      max-width: 50%;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}

.packages {
  padding-top: 1em;
  padding-bottom: 1em;
  .container {
    .title {
      text-align: center;
      text-transform: uppercase;
      margin-bottom: 3em;
      h1 {
        font-family: var(--font-2);
      }
    }

    .packages-container {
      flex: 0 0 33.33%;
      max-width: 33.33%;
      .packages-content {
        border-radius: 2px;
        position: relative;
        padding: 40px 30px 120px 30px;
        font-family: var(--roboto);
        margin-bottom: 10px;
        h2 {
          font-family: var(--oswald);
          text-transform: uppercase;
          font-size: 26px;
          font-weight: 900;
          margin-bottom: 2em;
          letter-spacing: 2px;
          color: #000;
        }
        p {
          color: #727272;
          font-weight: 600;
          letter-spacing: 1px;
          font-size: 15px;
          padding-bottom: 15px;
        }
      }
    }
    .packages-price {
      position: relative;
      letter-spacing: 4px;
      padding: 30px 30px 20px 30px;
      .col {
        background: #fff;
        margin-top: -140px;
        padding-top: 30px;
        h2 {
          text-transform: uppercase;
          font-size: 15px;
          font-weight: 500;
        }
        p {
          font-size: 40px;
          font-weight: 700;
        }
      }
    }
  }
}

.testi {
  margin-top: 1em;
  margin-bottom: 1em;
  .container {
    .testimonial-title {
      color: #333;
      font-family: var(--font-2);
      letter-spacing: 0.2rem;
      padding: 3% 0;
    }
    .testi-container {
      padding: 2% 0;
      display: flex;
      flex-direction: row;
      align-items: center;
      .testi-img {
        position: relative;
        flex: 0 0 40%;
        max-width: 40%;
        img {
          transform: scaleX(-1);
          width: 100%;
          height: 100%;
        }
      }
    }
    .testimonials {
      position: relative;
      background: #fff;
      padding: 30px;
      flex: 0 0 60%;
      max-width: 60%;
      margin-left: -100px;
      p {
        color: #727272;
        margin: 0;
        font-family: var(--roboto);
        font-size: 18px;
      }
    }
  }
}

.footer {
  padding-top: 0.5em;
  .instagram-area {
    position: relative;
    .follow-us {
      margin-bottom: 2em;
      text-align: center;
      p {
        font-family: var(--oswald);
        font-weight: 500;
        letter-spacing: 2px;
        text-transform: uppercase;
        font-size: 12px;
      }
      a {
        text-decoration: none;
        color: #333;
      }
      .mention {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%, 50%);
        background-color: #fff;
        padding: 0.6rem 4rem;
        border-radius: 2px;
      }
    }

    .instagram-container {
      display: flex;
      flex-wrap: wrap;
      .instagram-area-img {
        height: 30vh;
        flex-grow: 1;
        padding-right: 20px;
        img {
          max-height: 100%;
          min-width: 100%;
          object-fit: cover;
          vertical-align: bottom;
        }
      }
      .instagram-area-img:last-child {
        padding: 0;
      }
    }

    .copyright {
      display: flex;
      justify-content: space-around;
      padding: 20px;
      align-items: center;
      .year,
      .logo,
      .top {
        margin: 0;
        font-size: 12px;
        font-family: var(--text-section);
        color: #333;
      }
      .year,
      .top {
        text-transform: uppercase;
      }
      a {
        text-decoration: none;
      }
    }
  }
}


@media (max-width: 576px) {
  .navbar {
    background: transparent;
  }
  .carousel {
    .carousel-inner {
      .carousel-item {
        img {
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
        }
        .overlay {
          top: 0;
          left: 0;
          height: 100%;
          object-fit: cover;
        }
        .carousel-caption {
          width: 100%;
          height: 68%;
          top: 33%;
          left: 0;
          padding-top: 0.25rem;
          padding-bottom: 0.25rem;
          .caption {
            height: 67%;
          }
          .text-atas {
            display: flex;
            flex-direction: column-reverse;
            .upfont {
              margin-top: 30px;
              font-size: 16px;
              text-shadow: 2px 0px 3px rgb(90, 90, 90);
            }
            .highlight {
              font-size: 80px;
              text-shadow: 2px 0px 7px rgb(145, 145, 145);
              align-items: center;
              justify-content: center;
              margin: 0 auto 8px;
            }
          }
          .text-bawah {
            position: absolute;
            width: 100%;
            top: 77%;
            bottom: 0%;
            flex-direction: column;
            .t-kanan,
            .t-kiri {
              max-width: 100%;
              p {
                font-size: 10px;
                margin-bottom: 0.5em;
              }
            }
          }
        }
      }
    }
  }
  .about {
    margin: 0;
    .about-content {
      flex-direction: column-reverse;
      .about-content-1,
      .about-content-2 {
        flex: 0;
        max-width: 100%;
      }
      .about-content-1 {
        padding: 3em 3em;
        .title {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
  
  .packages{
    #packages-wrap{
      .packages-container{
        flex: 0;
        max-width: 100%;
      }
    }
  }

  .testi{
    margin-top: 2em;
    margin-bottom: 2em;
    .container{
      .testimonial-title{
        font-size: 42px;
      }
      .container-fluid{
        .testi-container{
          flex-direction: column;
          .testi-img{
            max-width: 100%;
          }
        }
        .testimonials{
          max-width: 85%;
          margin-top: -20%;
          margin-left: auto;
          margin-right: auto;
          p{
            font-size: 12px;
          }
        }
      }
    }
  }
}
