@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Spectral:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300;400&family=Poiret+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Roboto&display=swap");
:root {
  --font-1: "Cormorant Garamond", serif;
  --font-2: "Poiret One", sans-serif;
  --text-section: "Spectral", serif;
  --small-text: "DM Sans", sans-serif;
  --roboto: "Roboto", sans-serif;
  --oswald: "Oswald", sans-serif;
}

.divide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.fs-45 {
  font-size: 42px;
}

.bg-grey-dark {
  background-color: #ded5d8;
}

.bg-grey {
  background-color: #f0edee;
}

.bg-grey-light {
  background-color: #f9f6f5;
}

.lh-39 {
  line-height: 36px;
}

.pd-4 {
  padding-top: 40px;
}

.pd-60 {
  padding-top: 60px;
}

.navbar .container .navbar-brand {
  font-size: 25px;
}

.navbar .container .navbar-collapse {
  width: 100%;
}

.navbar .container .navbar-collapse .nav-link {
  font-size: 10px;
  font-family: var(--small-text);
  text-transform: uppercase;
  letter-spacing: 1px;
}

.carousel .carousel-inner .carousel-item {
  position: relative;
  width: 100vw;
  height: 120vh;
}

.carousel .carousel-inner .carousel-item img {
  position: absolute;
  top: -20%;
  left: 0%;
}

.carousel .carousel-inner .carousel-item .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, from(#43c6ac), to(#191654));
  background: linear-gradient(to left, #43c6ac, #191654);
  opacity: 0.14;
}

.carousel .carousel-inner .carousel-item .carousel-caption {
  position: absolute;
  right: 15%;
  top: 50%;
  left: 15%;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  color: #fff;
  text-align: center;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-atas .upfont {
  margin: 5px;
  font-size: 12px;
  font-family: var(--font-2);
  letter-spacing: 2px;
  font-weight: 800;
  text-shadow: 1px 2px rgba(178, 178, 178, 0.5);
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-atas .highlight {
  font-size: 82px;
  font-family: var(--font-1);
  font-weight: 300;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-bawah {
  width: 100%;
  position: absolute;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 5px;
  left: 0;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-bawah .t-kiri {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.22%;
          flex: 0 0 22.22%;
  max-width: 0 0 22.22%;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-bawah .t-kiri p {
  font-family: var(--font-1);
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-bawah .line {
  width: 1px;
  height: 15px;
  background: white;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-bawah .t-kanan {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 22.22%;
          flex: 0 0 22.22%;
  max-width: 0 0 22.22%;
}

.carousel .carousel-inner .carousel-item .carousel-caption .text-bawah .t-kanan p {
  font-family: var(--font-1);
  font-size: 14px;
  margin: 0;
  letter-spacing: 1px;
}

.about {
  margin-top: 7em;
  margin-bottom: 7em;
}

.about .about-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.about .about-content .about-content-1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px 90px;
}

.about .about-content .about-content-1 .title {
  font-family: var(--font-1);
  margin-bottom: 1.3em;
  font-weight: 500;
}

.about .about-content .about-content-1 .caption {
  color: #606062;
  font-family: var(--text-section);
  font-size: 16px;
  margin-bottom: 30px;
}

.about .about-content .about-content-2 {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  max-width: 50%;
}

.about .about-content .about-content-2 img {
  width: 100%;
  height: 100%;
}

.packages {
  padding-top: 3em;
  padding-bottom: 3em;
}

.packages .container .title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 3em;
}

.packages .container .title h1 {
  font-family: var(--font-2);
}

.packages .container .row .packages-container {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 33.33%;
          flex: 0 0 33.33%;
  max-width: 33.33%;
}

.packages .container .row .packages-container .packages-content {
  border-radius: 2px;
  position: relative;
  padding: 40px 30px 120px 30px;
  font-family: var(--roboto);
}

.packages .container .row .packages-container .packages-content h2 {
  font-family: var(--oswald);
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  margin-bottom: 2em;
  letter-spacing: 2px;
  color: #000;
}

.packages .container .row .packages-container .packages-content p {
  color: #727272;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 15px;
  padding-bottom: 15px;
}

.packages .container .row .packages-price {
  position: relative;
  background: #fff;
  padding: 30px 30px 20px 30px;
  letter-spacing: 4px;
}

.packages .container .row .packages-price .col h2 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 500;
}

.packages .container .row .packages-price .col p {
  font-size: 40px;
  font-weight: 700;
}
/*# sourceMappingURL=style.css.map */